src/node-red-contrib-andinox1/sampleFlow.json
[
    {
        "id": "d82e461d.e1c8d8",
        "type": "ui_button",
        "z": "3e65bdfc.19fcc2",
        "name": "Relais 1 - on",
        "group": "d716eeb3.73f8b",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"relais\": 1, \"state\":true}",
        "payloadType": "json",
        "topic": "",
        "x": 156,
        "y": 739,
        "wires": [
            [
                "544097f6.205d28"
            ]
        ]
    },
    {
        "id": "544097f6.205d28",
        "type": "switch",
        "z": "3e65bdfc.19fcc2",
        "name": "",
        "property": "payload.relais",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 382,
        "y": 846,
        "wires": [
            [
                "894096a.4467968"
            ],
            [
                "ab63c418.812b58"
            ]
        ]
    },
    {
        "id": "894096a.4467968",
        "type": "function",
        "z": "3e65bdfc.19fcc2",
        "name": "getState",
        "func": " return  { payload: msg.payload.state };",
        "outputs": 1,
        "noerr": 0,
        "x": 536,
        "y": 818,
        "wires": [
            [
                "80c75544.8e25c8"
            ]
        ]
    },
    {
        "id": "ab63c418.812b58",
        "type": "function",
        "z": "3e65bdfc.19fcc2",
        "name": "getState",
        "func": " return  { payload: msg.payload.state };",
        "outputs": 1,
        "noerr": 0,
        "x": 533,
        "y": 868,
        "wires": [
            [
                "ad71683f.bff378"
            ]
        ]
    },
    {
        "id": "80c75544.8e25c8",
        "type": "AndinoX1",
        "z": "3e65bdfc.19fcc2",
        "name": "AndinoX1: Releais 1",
        "channel": "1",
        "filter": "relais1",
        "x": 755,
        "y": 813,
        "wires": [
            [
                "fca6199b.c75578"
            ]
        ]
    },
    {
        "id": "ad71683f.bff378",
        "type": "AndinoX1",
        "z": "3e65bdfc.19fcc2",
        "name": "AndinoX1: Releais 2",
        "channel": "1",
        "filter": "relais2",
        "x": 758,
        "y": 869,
        "wires": [
            [
                "fca6199b.c75578"
            ]
        ]
    },
    {
        "id": "fca6199b.c75578",
        "type": "serial out",
        "z": "3e65bdfc.19fcc2",
        "name": "",
        "serial": "d15661b3.cb828",
        "x": 1017,
        "y": 825,
        "wires": []
    },
    {
        "id": "453fc9b.ce2b538",
        "type": "serial in",
        "z": "3e65bdfc.19fcc2",
        "name": "/dev/ttyS0",
        "serial": "d15661b3.cb828",
        "x": 268,
        "y": 989,
        "wires": [
            [
                "3e6a4ac.b657bb6",
                "f0bab618.4430b8"
            ]
        ]
    },
    {
        "id": "f0bab618.4430b8",
        "type": "AndinoX1",
        "z": "3e65bdfc.19fcc2",
        "name": "AndinoX1: Counter",
        "channel": "1",
        "filter": "counter",
        "x": 511,
        "y": 989,
        "wires": [
            [
                "91e86e07.21a32",
                "1c81015b.f3ca4f"
            ]
        ]
    },
    {
        "id": "7062cb00.f98ac4",
        "type": "ui_button",
        "z": "3e65bdfc.19fcc2",
        "name": "Relais 1 - off",
        "group": "d716eeb3.73f8b",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"relais\": 1, \"state\":false}",
        "payloadType": "json",
        "topic": "",
        "x": 155,
        "y": 787,
        "wires": [
            [
                "544097f6.205d28"
            ]
        ]
    },
    {
        "id": "43c7c580.dbbdcc",
        "type": "ui_button",
        "z": "3e65bdfc.19fcc2",
        "name": "Relais 2 - off",
        "group": "b782db9.45e0e28",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"relais\": 2, \"state\":false}",
        "payloadType": "json",
        "topic": "",
        "x": 154,
        "y": 892,
        "wires": [
            [
                "544097f6.205d28"
            ]
        ]
    },
    {
        "id": "a8105b44.0ae438",
        "type": "ui_button",
        "z": "3e65bdfc.19fcc2",
        "name": "Relais 2 - on",
        "group": "b782db9.45e0e28",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"relais\": 2, \"state\":true}",
        "payloadType": "json",
        "topic": "",
        "x": 154,
        "y": 842,
        "wires": [
            [
                "544097f6.205d28"
            ]
        ]
    },
    {
        "id": "91e86e07.21a32",
        "type": "ui_text",
        "z": "3e65bdfc.19fcc2",
        "group": "b4435a1f.755088",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Counter 1:",
        "format": "{{msg.payload.counter1}}",
        "layout": "row-spread",
        "x": 822,
        "y": 964,
        "wires": []
    },
    {
        "id": "1c81015b.f3ca4f",
        "type": "ui_text",
        "z": "3e65bdfc.19fcc2",
        "group": "b4435a1f.755088",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Counter 2:",
        "format": "{{msg.payload.counter2}}",
        "layout": "row-spread",
        "x": 823,
        "y": 1022,
        "wires": []
    },
    {
        "id": "3e6a4ac.b657bb6",
        "type": "AndinoX1",
        "z": "3e65bdfc.19fcc2",
        "name": "AndinoX1: State",
        "channel": "1",
        "filter": "event",
        "x": 511,
        "y": 1125,
        "wires": [
            [
                "1aa19fa2.c141f",
                "91c89cf6.e482a"
            ]
        ]
    },
    {
        "id": "1aa19fa2.c141f",
        "type": "ui_text",
        "z": "3e65bdfc.19fcc2",
        "group": "498b9129.9dab9",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "State Pin 1:",
        "format": "{{msg.payload.pin1}}",
        "layout": "row-spread",
        "x": 826,
        "y": 1101,
        "wires": []
    },
    {
        "id": "91c89cf6.e482a",
        "type": "ui_text",
        "z": "3e65bdfc.19fcc2",
        "group": "498b9129.9dab9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "State Pin 2:",
        "format": "{{msg.payload.pin2}}",
        "layout": "row-spread",
        "x": 826,
        "y": 1166,
        "wires": []
    },
    {
        "id": "d716eeb3.73f8b",
        "type": "ui_group",
        "z": "",
        "name": "Relais 1",
        "tab": "eda9ccf5.1a7bf",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "d15661b3.cb828",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyS0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "b782db9.45e0e28",
        "type": "ui_group",
        "z": "",
        "name": "Relais 2",
        "tab": "eda9ccf5.1a7bf",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "b4435a1f.755088",
        "type": "ui_group",
        "z": "",
        "name": "Counter",
        "tab": "eda9ccf5.1a7bf",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "498b9129.9dab9",
        "type": "ui_group",
        "z": "",
        "name": "Events",
        "tab": "eda9ccf5.1a7bf",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "eda9ccf5.1a7bf",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]