src/node-red-contrib-andinox1/sampleFlow.json
[{"id":"2e306a9d.5fb866","type":"ui_button","z":"71ba01f5.75718","name":"Relais 1 - on","group":"1999530a.4f787d","order":0,"width":0,"height":0,"label":"ON","color":"","bgcolor":"","icon":"","payload":"{\"relais\": 1, \"state\":true}","payloadType":"json","topic":"","x":187,"y":140,"wires":[["468f7f7f.e7163"]]},{"id":"468f7f7f.e7163","type":"switch","z":"71ba01f5.75718","name":"","property":"payload.relais","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":413,"y":247,"wires":[["24e7102b.f9c3c"],["c0ad81c9.02bca"]]},{"id":"24e7102b.f9c3c","type":"function","z":"71ba01f5.75718","name":"getState","func":" return  { payload: msg.payload.state };","outputs":1,"noerr":0,"x":567,"y":219,"wires":[["8bb41724.b3dce8"]]},{"id":"c0ad81c9.02bca","type":"function","z":"71ba01f5.75718","name":"getState","func":" return  { payload: msg.payload.state };","outputs":1,"noerr":0,"x":564,"y":269,"wires":[["63b716b2.9b4c38"]]},{"id":"8bb41724.b3dce8","type":"AndinoX1","z":"71ba01f5.75718","name":"AndinoX1: Releais 1","channel":"1","filter":"relais1","x":786,"y":214,"wires":[["4da91726.3ac308"]]},{"id":"63b716b2.9b4c38","type":"AndinoX1","z":"71ba01f5.75718","name":"AndinoX1: Releais 2","channel":"1","filter":"relais2","x":789,"y":270,"wires":[["4da91726.3ac308"]]},{"id":"4da91726.3ac308","type":"serial out","z":"71ba01f5.75718","name":"","serial":"d15661b3.cb828","x":1048,"y":226,"wires":[]},{"id":"c8a3c7c2.6c8988","type":"serial in","z":"71ba01f5.75718","name":"/dev/ttyS0","serial":"d15661b3.cb828","x":299,"y":390,"wires":[["e284dd7f.cae4d","1e2a9142.8c39af"]]},{"id":"1e2a9142.8c39af","type":"AndinoX1","z":"71ba01f5.75718","name":"AndinoX1: Counter","channel":"1","filter":"counter","x":542,"y":390,"wires":[["5a9644d1.9d213c","1089e93.9c8d817"]]},{"id":"9628b97e.fcc378","type":"ui_button","z":"71ba01f5.75718","name":"Relais 1 - off","group":"1999530a.4f787d","order":0,"width":0,"height":0,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"{\"relais\": 1, \"state\":false}","payloadType":"json","topic":"","x":186,"y":188,"wires":[["468f7f7f.e7163"]]},{"id":"1df60641.bbc3ba","type":"ui_button","z":"71ba01f5.75718","name":"Relais 2 - off","group":"d6587616.f8d418","order":2,"width":0,"height":0,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"{\"relais\": 2, \"state\":false}","payloadType":"json","topic":"","x":185,"y":293,"wires":[["468f7f7f.e7163"]]},{"id":"15a768d9.8267d7","type":"ui_button","z":"71ba01f5.75718","name":"Relais 2 - on","group":"d6587616.f8d418","order":1,"width":0,"height":0,"label":"ON","color":"","bgcolor":"","icon":"","payload":"{\"relais\": 2, \"state\":true}","payloadType":"json","topic":"","x":185,"y":243,"wires":[["468f7f7f.e7163"]]},{"id":"5a9644d1.9d213c","type":"ui_text","z":"71ba01f5.75718","group":"75c83ec6.4b104","order":1,"width":0,"height":0,"name":"","label":"Counter 1:","format":"{{msg.payload.counter1}}","layout":"row-spread","x":853,"y":365,"wires":[]},{"id":"1089e93.9c8d817","type":"ui_text","z":"71ba01f5.75718","group":"75c83ec6.4b104","order":2,"width":0,"height":0,"name":"","label":"Counter 2:","format":"{{msg.payload.counter2}}","layout":"row-spread","x":854,"y":423,"wires":[]},{"id":"e284dd7f.cae4d","type":"AndinoX1","z":"71ba01f5.75718","name":"AndinoX1: State","channel":"1","filter":"event","x":542,"y":526,"wires":[["6b501160.c9749","587138a8.d33d78"]]},{"id":"6b501160.c9749","type":"ui_text","z":"71ba01f5.75718","group":"51199c24.05f804","order":4,"width":0,"height":0,"name":"","label":"State Pin 1:","format":"{{msg.payload.pin1}}","layout":"row-spread","x":857,"y":502,"wires":[]},{"id":"587138a8.d33d78","type":"ui_text","z":"71ba01f5.75718","group":"51199c24.05f804","order":3,"width":0,"height":0,"name":"","label":"State Pin 2:","format":"{{msg.payload.pin2}}","layout":"row-spread","x":857,"y":567,"wires":[]},{"id":"1999530a.4f787d","type":"ui_group","z":"","name":"Relais 1","tab":"a3d7b21d.db187","order":1,"disp":true,"width":"2"},{"id":"d15661b3.cb828","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"d6587616.f8d418","type":"ui_group","z":"","name":"Relais 2","tab":"a3d7b21d.db187","order":2,"disp":true,"width":"2"},{"id":"75c83ec6.4b104","type":"ui_group","z":"","name":"Counter","tab":"a3d7b21d.db187","order":3,"disp":true,"width":"4"},{"id":"51199c24.05f804","type":"ui_group","z":"","name":"Single Events","tab":"a3d7b21d.db187","order":4,"disp":true,"width":"4"},{"id":"a3d7b21d.db187","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]